{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hospital Patient Data</title>
</head>
<body>
   

    <!-- Main Content Section (Dashboard) -->
    <main>
     {% block body %}

     {% for each_patient in all_patients_key %}
     
     <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ each_patient.profileimage.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Patient ID : {{ each_patient.patient_id }}</h5>
          <p class="card-text">Patient's Full Name : {{ each_patient.first_name }} {{ each_patient.last_name }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">DOB : {{ each_patient.dateofbirth }}</li>
          <li class="list-group-item">Gender : {{ each_patient.gender }}</li>
          <li class="list-group-item">Email : {{ each_patient.email }}</li>
          <li class="list-group-item">Mobile : {{ each_patient.mobile_number }}</li>
          <li class="list-group-item">Address : {{ each_patient.address }}</li>
        </ul>

      </div>
      {% endfor %}
     
     {% endblock body %}
    </main>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

</body>
</html>
