


{% extends 'nav.html' %}

{% block style %}

{% endblock style %}
{% block form %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
<style>
    .btn{
        font-family: "Raleway",sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 50px;
        transition: 0.5s;
        color: #3498db;
        border: 2px solid #3498db;
    }
    .btn:hover{
        background-color: rgb(57, 230, 22);
        color: white;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <center><h4>Reset Password</h4></center>
                </div>
                <div class="card-body">

                    {% for message in messages %}

                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        <strong></strong>{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endfor %}
                      <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <div class="text-center">
                       <button type="submit"class="btn">Reset</button>
                    </div>
                    </form>
    
                   
                       <!-- <div class="text-center">
                            <button type="submit" class="btn">Reset Password</button>
                        </div>-->
                    </form>
                   <!-- <div class="mt-3 text-center">
                        <hr>
                        Not Already a user? <a href="/myauth/signup/">SignUp</a><br>
                        <span>Forget Password? <a href="{% url 'password_reset' %}">Reset</a></span>
                    </div>-->
                
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock form %}



